[submodule "snap-engine"]
	path = snap-engine
	url = https://github.com/senbox-org/snap-engine.git
[submodule "snap-archetypes"]
	path = snap-archetypes
	url = https://github.com/senbox-org/snap-archetypes.git
[submodule "s1tbx"]
	path = s1tbx
	url = https://github.com/Earth-Observation/s1tbx.git
[submodule "snap-desktop"]
	path = snap-desktop
	url = https://github.com/senbox-org/snap-desktop.git
[submodule "s2tbx"]
	path = s2tbx
	url = https://github.com/senbox-org/s2tbx.git
[submodule "snap-installer"]
	path = snap-installer
	url = https://github.com/senbox-org/snap-installer.git
[submodule "s3tbx"]
	path = s3tbx
	url = https://github.com/senbox-org/s3tbx.git
[submodule "smos-box"]
	path = smos-box
	url = https://github.com/senbox-org/smos-box.git
[submodule "probavbox"]
	path = probavbox
	url = https://github.com/senbox-org/probavbox.git
